@import url('https://fonts.googleapis.com/css?family=Hind+Vadodara%7CJosefin+Slab%7CMontserrat%7COpen+Sans%7CPacifico%7CLobster%7CArima+Madurai');

.box {
  border-radius: 2px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
  transition: .2s;
  margin: 20px;
  padding: 20px;
  width: 320px;
  height: 190px;
  display: inline-block;
  font-family: 'Montserrat';
  color: black;
}

h1 {
  font-family: 'Montserrat'
}

h3 {
  font-size: 150%
}

.box p {
  font-size: 95%;
  display: inline-flex;
  margin-top: 30px;
  text-align: left
}
.box:hover {
  box-shadow: 0 8px 16px 1px rgba(0,0,0,.2);
}

.box img {
  height: 50px;
  max-width: 200px
}

