@import url('https://fonts.googleapis.com/css?family=Hind+Vadodara%7CJosefin+Slab%7CMontserrat%7COpen+Sans%7CPacifico%7CLobster%7CArima+Madurai');

.header {
  display: inline-block;
  height: 150px;
  width: 100%;
  margin-top: 30px
}

.header h1 {
  display: block;
  text-align: center;
  color: white;
  background-color: #FF9100
}

.header h3 {
  display: block;
  text-align: center;
  color: #FF9100;
}

.company-cards {
  display: inline-block
}

.complete {
  z-index: 1;
  position: relative;
  bottom: 20px;
  width: 20%;
  border-radius: 20px;
  margin-top: 30px;
  margin-bottom: 30px
}

.complete:hover {
  bottom: 23px;
  transition: 0.2s
}

#Companies {
  text-align: center
}