@import url('https://fonts.googleapis.com/css?family=Hind+Vadodara%7CJosefin+Slab%7CMontserrat%7COpen+Sans%7CPacifico%7CLobster%7CArima+Madurai');

.header {
  display: inline-block;
  height: 150px;
  width: 100%;
  margin-top: 30px
}

.header h1 {
  display: block;
  text-align: center;
  color: white;
  background-color: #FF9100;
  padding: 30px
}

.header h3 {
  display: block;
  text-align: center;
  color: #FF9100;
  padding-top: 20px;
}

.company-cards {
  display: inline-block
}

.complete {
  z-index: 1;
  position: relative;
  bottom: 20px;
  width: 20%;
  border-radius: 20px;
  margin-top: 30px;
  margin-bottom: 70px;
  justify-content: center;
}

@media (max-width: 800px) {
  .complete {
    width: 60%
  }
}

.complete:hover {
  bottom: 23px;
  transition: 0.2s
}

.companies {
  padding-top: 50px;
  padding-bottom: 50px
}
#Companies {
  text-align: center
}

.button-more {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center
}