@import url('https://fonts.googleapis.com/css?family=Hind+Vadodara|Josefin+Slab|Montserrat|Open+Sans|Pacifico|Lobster|Arima+Madurai');

iframe {
    width: 100%;
    height: 550px;
    padding-top:50px;
    position: relative;
    top: 14px;
    z-index: 1;
    box-shadow: 0 4px 8px #888888;
}

h1 {
    font-family: "Lobster", cursive;
    font-weight: bolder;
    text-align: center;
    width: 100%;
    color: white;
    background-color: #FF9100;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block
}

h4 {
    text-align: center;
    width: 100%;
    color: #FF9100;
    font-family: "Montserrat", sans-serif
}

#player {
    z-index: -1
}
