@import url('https://fonts.googleapis.com/css?family=Hind+Vadodara%7CJosefin+Slab%7CMontserrat%7COpen+Sans%7CPacifico%7CLobster%7CArima+Madurai');

.header {
  display: inline-block;
  height: 100px;
}

#Resources {
    position: relative;
    bottom: 60px;
    text-align: center
}

#Resources h1 {
  margin-bottom: 20px;
  padding: 30px
}

.resources {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px
}

.nav-tabs>li {
  width: 25%;
}

#Resources #uncontrolled-tab-example {
  margin-top: 30px;
}
